.App {
  width: 100%;
}

.App-heading {
  width: 720px;
  font-size: 50px;
  margin: 100px auto 0;
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.App-card {
  width: 720px;
  background: #f9f9f9;
  margin: 10px auto;
  padding: 50px;
  border-radius: 2px;
  border: 2px solid #d0e9e8;
}
